@{ ViewBag.Title = "UserNorms";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; }

<br />
<h4></h4>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card card-body">

            <div>
                <i class="fas fa-user-edit"></i>
                <span></span>
                <p>
                   1. The use of LMS resources, datafiles,(consultation) software and media is submitted to standard copyright rules.<br/>
                   2. Printing and Downloading individual journal articles and Parts of book chapters is only personal use.<br/>
                   3. It is prohibited to systematically download, distribute, print or store substantial parts of licensed materials.<br/>
                   4. Publishing licensed Materials through internet or electronic networks is not permitted.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <img style="width:100%; height:280px; object-fit: cover;" src="https://i.gifer.com/8moJ.gif" />
    </div>
</div>
<br />


