
@{ ViewBag.Title = "UserContact";
                Layout = "~/Views/Shared/_UserLayout.cshtml"; }


<br />
<h4>Contact</h4>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card card-body">
            <h5>Address</h5>
            <div>
                <span>Cognizant Technology solutions,</span>
            </div>
            <div>
                <span>Thoraippakkam,</span>
            </div>
            <div>
                <span>Chennai</span>
            </div>
        </div>
        <br />
        <div class="card card-body">
            <h5>Details</h5>
            <div>
                <i class="fas fa-envelope"></i>
                <span><i>urlms@lms.com</i></span>
            </div>
            <div>
                <i class="fas fa-phone-square"></i>
                <span><i>+91 7995508210</i></span>
            </div>
            <div>
                <i class="fab fa-twitter-square"></i>
                <span><i>@@urlms236</i></span>
            </div>
        </div>

    </div>
    <div class="col">
        <img style="width:100%; height:317px; object-fit: cover;" src="https://cdn.dribbble.com/users/52884/screenshots/3588374/transform_dribbb.gif" />
    </div>
</div>
<br />

