
@{ ViewBag.Title = "AdminAbout";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<br />
<h4>About</h4>
<hr />

<div class="row">
    <div class="col-6">
        <div class="card card-body">

            <div>
                <i class="fas fa-book"></i>
                <span></span>
                <p>
                    The Goal is to turn data into information, and information into Insight.<br />
                    The open collections of Books provides a way for Harvard to share it's intellectual wealth with the rest of the word.
                </p>
            </div>
        </div>

    </div>
    <div class="col">
        <img style="width:100%; height:332px; object-fit: cover;" src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>
<br />


